@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-gold: #c49a00;
  --color-gold-muted: color-mix(in oklch, #c49a00 55%, black);
  --color-background: #1a1818;
  --animate-background-position-spin: background-position-spin 3000ms infinite
    alternate;
  @keyframes background-position-spin {
    0% {
      background-position: top center;
    }
    100% {
      background-position: bottom center;
    }
  }
}

html {
  --primary: #c49a00;
  scroll-behavior: smooth;
  overflow-x: clip;
}

body {
  max-width: 100%;
  overflow-x: clip;
}
